<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <!--<h3 class="masthead-brand">Cover</h3>-->
        </div>
      </div>

      <div class="inner cover">
        <div class="cf-counter-box">
          <div class="container cf-container-media">
            <div class="cf-battery-box">
              <img src="{{ batteryUrlImage }}"/>
            </div>
          </div>

          <span class="cf-counter-text">
            {{ counter }}
          </span>

          <!--<div ng-if="message.type == 'error'">-->
            <!--<p class="text-danger">{{ message.msg }}</p>-->
          <!--</div>-->

          <div class="container cf-container-media">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" data-src="" alt=""
                     src="/images/persons.svg"
                     style="width: 64px; height: 64px;">
              </a>

              <div class="media-body cf-media-body">
                <h4 class="media-heading" style="margin-top: 15px;">
                  <span class="cf-counter-text cf-text">{{ counter }}</span>
                </h4>
              </div>
            </div>

            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" data-src="" alt=""
                     src="/images/lamp.svg"
                     style="width: 64px; height: 64px;">
              </a>

              <div class="media-body cf-media-body">
                <h4 class="media-heading" style="margin-top: 11px;">
                  <span class="cf-counter-text cf-text">{{ lamp }} <small>watts</small></span>
                </h4>
              </div>
            </div>

            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" data-src="" alt=""
                     src="/images/moneybox.svg"
                     style="width: 64px; height: 64px;">
              </a>

              <div class="media-body cf-media-body">
                <h4 class="media-heading" style="margin-top: 11px;">
                  <span class="cf-counter-text cf-text">{{ moneybox }} <small>$</small></span></span>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <div class="pull-right">
            <span class="cf-date-badge badge">{{ datetimeShow }}</span>
            <span id="cf-connection-state" class="cf-state-badge badge"></span>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>