doctype html
html(ng-app="counter",ng-cloak)
  head
    title= 'TallaPiedra - Contador'
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/ngprogress/ngProgress.css')
    link(rel='stylesheet', href='/lib/loadeffect/css/component.css')
    link(rel='stylesheet', href='/lib/CSS3FullscreenSlideshow/css/demo.css')
    link(rel='stylesheet', href='/lib/CSS3FullscreenSlideshow/css/style3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    //link(rel="shortcut icon",href="/images/favicon.png")

  body#page
    //ul.cb-slideshow
    //  li
    //    span Image 01
    //    div
    //      h3
    //  li
    //    span Image 02
    //    div
    //      h3
    //  li
    //    span Image 03
    //    div
    //      h3
    //  li
    //    span Image 04
    //    div
    //      h3
    //  li
    //    span Image 05
    //    div
    //      h3
    //  li
    //    span Image 06
    //    div
    //      h3
    block content

    // JavaScript Files.
    script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/lib/loadeffect/js/classie.js')
    script(type='text/javascript', src='/lib/underscore/underscore-min.js')
    script(type='text/javascript', src='/lib/moment/moment.js')
    script(type='text/javascript', src='/lib/moment/locale/es.js')

    //- Socket.io.
    script(src="/socket.io/socket.io.js")

    // Functions
    script(type='text/javascript', src='/javascripts/functions.js')

    // Angularjs
    script(type='text/javascript', src='/lib/angular/angular.min.js')
    script(type='text/javascript', src='/lib/angular-filter/dist/angular-filter.min.js')
    script(type='text/javascript', src='/lib/angular-resource/angular-resource.min.js')
    script(type='text/javascript', src='/lib/angular-route/angular-route.min.js')
    script(type='text/javascript', src='/lib/restangular/dist/restangular.min.js')
    script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='/lib/ngprogress/build/ngProgress.min.js')

    // App
    script(type='text/javascript', src='/javascripts/app.min.js')